/* * {
    border: 1px dashed red;
    min-height: 10px;
} */

/* Estilos para el header fixed-top */
header {
    background-color: rgb(220, 220, 220);
    height:54px;
}

.content {
    padding-top:54px;
}

/* Estilos para imágenes */
.img_col {
    width: 100%;
    height: 300px;
    object-fit: contain;
}
