/* * {
    border: 1px dashed red;
    min-height: 10px;
} */

.nav_color {
    background-color: rgb(220, 220, 220);
}

.pills_style {
    border: none;
}

.img_col {
    width: 100%;
    height: 300px;
    object-fit: contain;
}